@import "helper";


.about-cards{
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  .about-container{
    position: relative;
    width: 100% !important;
    min-height: 18.5rem;
    background: url("../assets/image/bg-star.png"), linear-gradient(93.31deg, #51B6FF 0%, #007FE4 100%) no-repeat center;
    border-radius: 0.75rem;


    .content{
      position: relative;
      display: flex;
      justify-content: space-between;
      @media (max-width: 480px) {
        flex-direction: column;
      }

      .content-title{
        padding: 2.5rem;

        @media (max-width: 576px){
          padding: 3.85rem 1rem;
        }


        .about-heading{
          color: #fff;
          margin-bottom: 1.5rem;
          @media (max-width: 768px) {
            padding-right: 35rem;
          }
          @media (max-width: 480px) {
            padding-right: 0;
          }
        }

        .about-title{
          color: #F4F7FF;
          margin-bottom: 2.3rem;
          @media (max-width: 1200px) {
            padding-right: 30rem;
          }
          @media (max-width: 768px) {
            padding-right: 25rem;
          }
          @media (max-width: 480px) {
            padding-right: 0;
          }
        }

        .buttons{
          .btn-about{
            margin-right: 1rem;
            background: #fff;
            color: #1E1E1E;
            @media (max-width: 768px) {
              display: block;
              margin: 1rem;
            }
            @media (max-width: 576px) {
              margin: 1rem 0;
            }
            &:hover{
            color: #0089EE;
            }

          }
        }

      }

      .content-image{
        position: absolute;
        right: 2rem;
        bottom: 0;
        @media (max-width: 1200px) {
          right: 1rem;
        }
        @media (max-width: 1024px) {
          right: -11px;
        }
        @media (max-width: 480px) {
          position: unset;
          display: flex;
          justify-content: center;
        }

        .about-img{

          @media (max-width: 1024px) {
            display: none;
          }
        }

        .about-img-1024{
          display: none;
          @media (max-width: 1024px) {
            display: initial;
          }
          @media (max-width: 480px) {
            display: none;
          }
        }

        .about-img-480{
          display: none;
          @media (max-width: 480px) {
            display: initial;
          }
        }

      }


    }

  }
}

// visa master


.visa-master{

  .container{

    .visa-master-row{
      margin-top: 6rem !important;
    }


  }

}

// visa master end


// steps



// steps end


/// users


.users{
    margin-top: 2rem;
  padding: 0 1rem;
  .users-container{
    background: url("../assets/image/bag-users-1248.png") no-repeat center;
    min-height: 22.8125rem;
    background-size: contain;
    padding: 3rem;
    border-radius: 1rem;
    @media (max-width: 1024px) {
      background: url("../assets/image/bag-users-1024.png")no-repeat center;
    }
    @media (max-width: 768px) {
      background: url("../assets/image/bag-users-768.png")no-repeat center;
    }
    @media (max-width: 480px) {
      background: url("../assets/image/bag-users-480.png")no-repeat center;
    }
    @media (max-width: 360px) {
      background: url("../assets/image/bag-users-360.png")no-repeat center;
    }

    .content{
      display: flex;
      justify-content: center;
      @media (max-width: 768px) {
        display: block;
      }
      .content-title{
        .users-heading{
          color: #fff;
          margin-bottom: 1rem ;
          @media (max-width: 480px) {
            width: 12.5rem;
          }
        }

        .users-title{
          color: #BAE1FF;
          width: 80%;
          margin-bottom: 1rem;
          @media (max-width: 768px) {
            width: 60%;
            margin-bottom: 0;
          }
          @media (max-width: 480px) {
            width: 100%;
            margin-bottom: 1rem;
          }
        }

      }

      .content-title2{
        display: flex;
        margin-top: 1.75rem;
        @media (max-width: 768px) {
          display: flex;
          justify-content: end;
        }
        @media (max-width: 480px) {
          display: flex;
          justify-content: center;
        }

        .box{
          width: 160px;
          margin-right: 6.25rem;
          &:last-child{
            margin-right: 2.5rem;
          }
          @media (max-width: 1024px) {
            margin-right: 4.375rem;
            &:last-child{
              margin-right: 2rem;
            }
          }
          @media (max-width: 768px) {
            margin-right: 6rem;
            position: relative;
            margin-top: 7rem;
            &:last-child{
              margin-right: 0;
              left: 0;
            }
          }
          @media (max-width: 480px) {
            margin-right: 4rem;
            position: relative;
            top: 12.5rem;
            &:last-child{
              margin-right: 0;
              top: -2rem;
            }
          }
          @media (max-width: 360px) {
            margin-right: 4rem;
            position: relative;
            top: 16.5rem;
            &:last-child{
              margin-right: 0;
              top: 4rem;
            }
          }

          h2{
            font-weight: 500;
            font-size: 5rem;
            color: #fff;
            span{
              font-size: 2.3rem;
              color: #fff;
              position: relative;
              top: -2rem;
              left: -1.4rem;
            }
          }

          span{
            color: #BAE1FF;
            font-weight: 600;
            margin-top: -1rem;
            font-size: 1rem;
            line-height: 140%;
          }


        }

      }

    }
    .button{
      display: flex;
      justify-content: end;
      margin-right: 3.125rem;
      margin-top:  2.5rem;
      @media (max-width: 768px) {
       position: relative;
        top: 1rem;
      }
      @media (max-width: 480px) {
        display: flex;
        justify-content: left;
        margin-top: 17rem;
      }
      @media (max-width: 360px) {
          margin-top: 23rem;
        justify-content: center;
        margin-right: 0;
        width: 290px;
      }

      .btn-users{
        background: #fff;
        color: #1E1E1E;

        img{
          margin-left: .8rem;
        }
      }

      p{
        font-style: italic;
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        color: #BAE1FF;
        margin-left: 3.9375rem;
        margin-top: .7rem;
        @media (max-width: 480px) {
          margin-left: 0;
        }
      }
    }

  }

}


// ----------------  kirghizia -----------------------




.kirghizia{

  // header

  .header {

    &-body {
      padding-top: 6.5rem;
      padding-bottom: 6.5rem;
      background: linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%);
      &:before {
        background: url("../assets/image/header-logo.png")no-repeat top right;
        background-size: cover;
        position: absolute;
        top: 2%;
        right: 0;
        bottom: 0;
        @media (max-width: 1200px) {
          top: 10%;
        }
        @media (max-width: 768px) {
            top: 40%;
        }
      }

      .header-title{
        padding-right: 2rem;
        @media (max-width: 1024px){
          padding-right: 2rem;
        }
        @media (max-width: 768px){
          padding-right: 0;
        }
      }

      .header-description{
        color: #FFD188;
      }

      .btn-white{
        color: #E37640;
        background: #fff;
        transition: .3s lianer;
        &:hover{
          background: #b24c17;
          color: #fff;
        }
      }
    }


  }
  // gurantee

  .guarantee{

    .guarantee-container{

.guarantee-content {

  .content {

    .title-top {
      span{
        color: #E37640;
      }
    }

  }

}

    }


  }

  // end gurantee



  /// available-cards

.available-cards{


  .media{
    display: none;
    @media (max-width: 360px) {
      display: initial;
    }
  }

  .decstop{
    @media (max-width: 360px) {
      display: none;
    }
  }

  .star1{
    position: relative;
    left: 90%;
  }

  .btn-lightblue{
    color: #E37640;
    background: rgba(255, 209, 136, 0.2);
  }

  .fa-circle-check{
    color: #E37640;
  }

  .check-price{
    color: #E37640;
  }

  .btn-transparent{
    &:hover{
      color: #E37640;
      background: #fff;
    }
  }

  .btn-blue-dark{
    background: #E37640;
    color: white;
    &:hover{
      background: #e78558;
    }
  }

  .check-bank-subtitle{
    @media (max-width: 360px) {
      display: none;
    }
  }

  .price-btn{
    @media (max-width: 480px) {
      display: flex !important;
      justify-content: center;
     align-items: center;
    }

    .check-price{
      @media (max-width: 480px) {
        margin-right: 10px;
        font-size: 2rem;
        margin-top: .8rem;
      }
    }

  }

  .buttons{
    @media (max-width: 480px) {
      display: flex;
    }
    @media (max-width: 360px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    button {
      @media (max-width: 360px) {
        display: block;
        margin-bottom: 10px !important;
        width: 100% !important;
        padding: 1.5rem 6rem;
      }
    }
  }

}

  // ..en available-cards


  //........ map-comparison

.map-comparison{

.fa-circle-check{
  color: #E37640;
}

  .price{
    color: #E37640;
  }

  .btn-transparent{
    &:hover{
      color: #E37640;
    }
  }

}

  // ........ map-comparison end

  //  table

  .map-comparison{

    .fa-circle-exclamation{
      font-size: 1.6rem;
    }

  }

  // table end


  //...... about

.about-cards{
    min-height: 19rem;

  .about-container{
    background: url("../assets/image/bg-star.png"), linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%) no-repeat center;
    .content {

      .content-title {

        .about-title {
          color: #BAE1FF;
          font-weight: 600;
        }

        .buttons{
          .btn-about{
            color: #4497B3 !important;
            &:hover{
              background: #4497B3;
              color: #fff !important;
            }
          }
        }

      }
      .content-image{
      @media (max-width: 1024px) {
        right: 0;
      }
        @media (max-width: 1024px) {
          right: -16%;
        }
      }

    }
  }

}

  /// end about

  // ..........visa master

  .visa-master{

    .btn-lightblue{
      color: #E37640;
      background: rgba(255, 209, 136, 0.2);
    }

  }

  /// ........ visa master end


  // ....... steos

  .steps{

    .btn-lightblue{
      color: #E37640;
      background: rgba(255, 209, 136, 0.2);
    }

    &-body {
      background: url("../assets/image/khirgizia-step-bg.png"), linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%) no-repeat center;
    }


    .steps-subtitle{
      color: #FFD188;
    }


  }


   ////.. steps end


  // ... faq


  .faq{

    .btn-lightblue{
      color: #E37640;
      background: rgba(255, 209, 136, 0.2);
    }

    .fa-minus{
      color: #E37640;
    }

    .fa-plus{
      color: #E37640;
    }

  }

  /// .. .en faq


  // users

  .users{

    .content-title{
      padding-top: 1.7rem;
      padding-left: 1.5rem;
    }

  }

  /// end user

  // footer

.footer-bg{

  .btn-lightblue{
    color: #E37640;
    background: rgba(255, 209, 136, 0.2);
  }

  .requisites-name{
    color: #FFD188;
  }


  .btn-blue-dark{
    background: #E37640;
    &:hover{
      background: #f19a6d;
    }
  }

  .btn-white{
    color: #E37640;
    &:hover{
      background: #E37640;
      color: #fff;
    }
  }

.free-call-text{
  color: #FFD188;
}

}


  // footer end


}


// kazakhstan


.kazakhstan{

  .btn-lightblue{
    color: #4497B3 !important;
  }

  .header{
    .info-block{
      cursor: pointer;
    }

    .btn-white{
      transition: .5s linear;
      &:hover{
        background: #4497B3;
      }
    }

  }


  // available-cards

  .available-cards{


    .media{
      display: none;
      @media (max-width: 360px) {
        display: initial;
      }
    }

    .decstop{
      @media (max-width: 360px) {
        display: none;
      }
    }

    .star1{
      position: relative;
      left: 90%;
    }


    .check-bank-subtitle{
      @media (max-width: 360px) {
        display: none;
      }
    }

    .price-btn{
      @media (max-width: 480px) {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }

      .check-price{
        @media (max-width: 480px) {
          margin-right: 10px;
          font-size: 2rem;
          margin-top: .8rem;
        }
      }

    }

    .buttons{
      @media (max-width: 480px) {
        display: flex;
      }
      @media (max-width: 360px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      button {
        @media (max-width: 360px) {
          display: block;
          margin-bottom: 10px !important;
          width: 100% !important;
          padding: 1.5rem 6rem;
        }
      }
    }

  }


  // available-cardsA-end



  .about-cards{

    .content-image{
      @media (max-width: 1024px) {
        right: -5%;
      }
      @media (max-width: 1024px) {
        right: -8% !important;
      }
    }

  .btn-about {
    &:hover{
      background: #E37640 !important;
      color: #fff !important;
    }
  }

  }

  // users

  .users{

    .content-title{
      padding-top: .1rem;
      padding-left: .5rem;
    }

  }


  // users end

  .footer-bg{

    .btn-white{
      &:hover{
        background: #4497B3;
      }
    }

  }


}


/// bakai-card



.bakai-card {

  .btn-lightblue {
    color: #1E4165 !important;
  }




  .visa-master {
    margin-top: 5rem;

    .container {
      position: relative;

      .star1 {
        position: absolute;
        left: 90%;
        top: 15%;
        @media (max-width: 768px) {
          display: none;
        }
      }

      .star2 {
        position: absolute;
        left: 13%;
        top: 24%;
        @media (max-width: 768px) {
          display: none;
        }
      }

      .content-title {
        text-align: center;

      }


    }


  }


  .about-cards {

    .about-container {
      width: 100% !important;
      min-height: 29.8125rem;
      background: url("../assets/image/bakai-card-about-bg.png"), linear-gradient(148.13deg, #325579 0%, #073768 100%) no-repeat center;

      .content {
        @media (max-width: 768px) {
          flex-direction: column;
        }

        .content-title {

          .about-title {
            color: #7BA5BC;
          }

          .buttons {
            .btn-about {
              color: #1E4165 !important;

              &:hover {
                background: #4497B3 !important;
                color: #fff !important;
              }
            }
          }

        }


        .content-image {
          position: absolute;
          right: 1.6rem;

          @media (max-width: 1200px) {
            right: 0;
          }
          @media (max-width: 1024px) {
            right: 0;
          }
          @media (max-width: 768px) {
            position: unset;
            display: flex;
            justify-content: center;

          }
          @media (max-width: 480px) {
            position: unset;
            display: flex;
            justify-content: center;
          }

        }

      }

    }

  }

/// ..... faq

  .faq{

      .fa-minus{
      color: #1E4165;
      }

    .fa-plus{
      color:  #1E4165;
    }

  }

  // ......faq end

  // footer
.footer-bg {


  .btn-blue-dark {
    background: #1E4165 !important;
    color: #fff !important;
    &:hover{
      background: #6b9bcb !important;
    }
  }

  .btn-white{
    &:hover {
      background: #4497B3 !important;
      color: #fff !important;
    }
  }

}

  // footer end

}



/// freddom card html and

.freedom-card{
  .header-body{
    background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
    padding-bottom: 5.4375rem;
    overflow: hidden;
    @media (max-width: 1100px){
      overflow: unset;
    }
    @media (max-width: 855px){
      height: 58rem;
    }
    @media (max-width: 576px){
      height: 45rem;
    }
    &:before{
      display: none;
    }
  }
  .info-block{
    background: rgba(0, 137, 238, 0.1);
    color: #0089EE;
  }
  .header-title{
    color: #1E1E1E;
  }
  .header-description{
    color: #A8B8C5;
  }
  .steps-body{
    background: url("../assets/image/freedom-steps-bg.png"), linear-gradient(148.13deg, #32A64D 0%, #297538 100%) no-repeat center;
    .steps-subtitle{
      color: #A0D8A7;
    }
  }
}

.btn-bakai-dark-blue{
  background: #1E4165;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: #FFFFFF;
  padding: 1.25rem 1.5rem;
  transition: 0.3s all !important;
  &:hover{
    background: #7BA5BC;
    color: #fff;
  }
}

.bakai-header-bg{
  position: absolute;
  right: 0;
  top: 0;
  @media (max-width: 1120px){
    right: -6.25rem;
  }
  @media (max-width: 1100px){
    display: none;
  }
}
.bakai-header-card{
  position: absolute;
  top: 5rem;
  right: 2rem;

  @media (max-width: 1228px){
    width: 34.25rem;
    right: 0;
    top: unset;
    bottom: -10rem;
  }
  @media (max-width: 576px){
    width: 100%;
  }
}
.c-bakai-blue{
  color:  #298B3F !important;
}
.c-green{
  color: #298B3F;
}

.content-title{
  margin-top: 2rem;
}

// freedom Card And end


/// freedom card Arm


.freedom-card {

  .btn-lightblue {
    background: rgba(164, 238, 202, 0.2);
    color:  #298B3F !important;
  }

  .btn-bakai-dark-blue{
    background:  #298B3F;
    &:hover{
      background: #49b65f;
    }
  }




  .visa-master {
    margin-top: 5rem;

    .container {
      position: relative;

      .star1 {
        position: absolute;
        left: 90%;
        top: 15%;
        @media (max-width: 768px) {
          display: none;
        }
      }

      .star2 {
        position: absolute;
        left: 13%;
        top: 24%;
        @media (max-width: 768px) {
          display: none;
        }
      }

      .content-title {
        text-align: center;

      }

      .visa-master-item-subtitle{
        color: #A8B8C5;
      }

    }


  }


  .about-cards {

    .about-container {
      width: 100% !important;
      min-height: 29.8125rem;
      background: url("../assets/image/freedom-about-bg.png"), linear-gradient(148.13deg, #32A64D 0%, #297538 100%) no-repeat center;

      .content {
        @media (max-width: 768px) {
          flex-direction: column;
        }

        .content-title {

          .about-title {
            color: #A0D8A7;
          }

          .buttons {
            .btn-about {
              color: #298B3F !important;
              &:hover {
                background: #29b449 !important;
                color: #fff !important;
              }
            }
          }

        }


        .content-image {
          position: absolute;
          right: 1.6rem;

          @media (max-width: 1200px) {
            right: 0;
          }
          @media (max-width: 1024px) {
            right: 0;
          }
          @media (max-width: 768px) {
            position: unset;
            display: flex;
            justify-content: center;

          }
          @media (max-width: 480px) {
            position: unset;
            display: flex;
            justify-content: center;
          }

        }

      }

    }

  }

  /// ..... faq

  .faq{

    .fa-minus{
      color: #298B3F;
    }

    .fa-plus{
      color: #298B3F;
    }

  }

  // ......faq end

  // footer
  .footer-bg {


    .btn-blue-dark {
      background:  #298B3F !important;
      color: #fff !important;
      &:hover{
        background: #49b65f !important;
      }
    }

    .btn-white{
      background:  #fff !important;
      color: #298B3F;
      &:hover{
        background: #49b65f !important;
        color: #FFFFFF;
      }
    }

  }

  // footer end

}