.about-cards {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}
.about-cards .about-container {
  position: relative;
  width: 100% !important;
  min-height: 18.5rem;
  background: url("../assets/image/bg-star.png"), linear-gradient(93.31deg, #51B6FF 0%, #007FE4 100%) no-repeat center;
  border-radius: 0.75rem;
}
.about-cards .about-container .content {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .about-cards .about-container .content {
    flex-direction: column;
  }
}
.about-cards .about-container .content .content-title {
  padding: 2.5rem;
}
@media (max-width: 576px) {
  .about-cards .about-container .content .content-title {
    padding: 3.85rem 1rem;
  }
}
.about-cards .about-container .content .content-title .about-heading {
  color: #fff;
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .about-cards .about-container .content .content-title .about-heading {
    padding-right: 35rem;
  }
}
@media (max-width: 480px) {
  .about-cards .about-container .content .content-title .about-heading {
    padding-right: 0;
  }
}
.about-cards .about-container .content .content-title .about-title {
  color: #F4F7FF;
  margin-bottom: 2.3rem;
}
@media (max-width: 1200px) {
  .about-cards .about-container .content .content-title .about-title {
    padding-right: 30rem;
  }
}
@media (max-width: 768px) {
  .about-cards .about-container .content .content-title .about-title {
    padding-right: 25rem;
  }
}
@media (max-width: 480px) {
  .about-cards .about-container .content .content-title .about-title {
    padding-right: 0;
  }
}
.about-cards .about-container .content .content-title .buttons .btn-about {
  margin-right: 1rem;
  background: #fff;
  color: #1E1E1E;
}
@media (max-width: 768px) {
  .about-cards .about-container .content .content-title .buttons .btn-about {
    display: block;
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .about-cards .about-container .content .content-title .buttons .btn-about {
    margin: 1rem 0;
  }
}
.about-cards .about-container .content .content-title .buttons .btn-about:hover {
  color: #0089EE;
}
.about-cards .about-container .content .content-image {
  position: absolute;
  right: 2rem;
  bottom: 0;
}
@media (max-width: 1200px) {
  .about-cards .about-container .content .content-image {
    right: 1rem;
  }
}
@media (max-width: 1024px) {
  .about-cards .about-container .content .content-image {
    right: -11px;
  }
}
@media (max-width: 480px) {
  .about-cards .about-container .content .content-image {
    position: unset;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .about-cards .about-container .content .content-image .about-img {
    display: none;
  }
}
.about-cards .about-container .content .content-image .about-img-1024 {
  display: none;
}
@media (max-width: 1024px) {
  .about-cards .about-container .content .content-image .about-img-1024 {
    display: initial;
  }
}
@media (max-width: 480px) {
  .about-cards .about-container .content .content-image .about-img-1024 {
    display: none;
  }
}
.about-cards .about-container .content .content-image .about-img-480 {
  display: none;
}
@media (max-width: 480px) {
  .about-cards .about-container .content .content-image .about-img-480 {
    display: initial;
  }
}

.visa-master .container .visa-master-row {
  margin-top: 6rem !important;
}

.users {
  margin-top: 2rem;
  padding: 0 1rem;
}
.users .users-container {
  background: url("../assets/image/bag-users-1248.png") no-repeat center;
  min-height: 22.8125rem;
  background-size: contain;
  padding: 3rem;
  border-radius: 1rem;
}
@media (max-width: 1024px) {
  .users .users-container {
    background: url("../assets/image/bag-users-1024.png") no-repeat center;
  }
}
@media (max-width: 768px) {
  .users .users-container {
    background: url("../assets/image/bag-users-768.png") no-repeat center;
  }
}
@media (max-width: 480px) {
  .users .users-container {
    background: url("../assets/image/bag-users-480.png") no-repeat center;
  }
}
@media (max-width: 360px) {
  .users .users-container {
    background: url("../assets/image/bag-users-360.png") no-repeat center;
  }
}
.users .users-container .content {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .users .users-container .content {
    display: block;
  }
}
.users .users-container .content .content-title .users-heading {
  color: #fff;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .users .users-container .content .content-title .users-heading {
    width: 12.5rem;
  }
}
.users .users-container .content .content-title .users-title {
  color: #BAE1FF;
  width: 80%;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .users .users-container .content .content-title .users-title {
    width: 60%;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .users .users-container .content .content-title .users-title {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.users .users-container .content .content-title2 {
  display: flex;
  margin-top: 1.75rem;
}
@media (max-width: 768px) {
  .users .users-container .content .content-title2 {
    display: flex;
    justify-content: end;
  }
}
@media (max-width: 480px) {
  .users .users-container .content .content-title2 {
    display: flex;
    justify-content: center;
  }
}
.users .users-container .content .content-title2 .box {
  width: 160px;
  margin-right: 6.25rem;
}
.users .users-container .content .content-title2 .box:last-child {
  margin-right: 2.5rem;
}
@media (max-width: 1024px) {
  .users .users-container .content .content-title2 .box {
    margin-right: 4.375rem;
  }
  .users .users-container .content .content-title2 .box:last-child {
    margin-right: 2rem;
  }
}
@media (max-width: 768px) {
  .users .users-container .content .content-title2 .box {
    margin-right: 6rem;
    position: relative;
    margin-top: 7rem;
  }
  .users .users-container .content .content-title2 .box:last-child {
    margin-right: 0;
    left: 0;
  }
}
@media (max-width: 480px) {
  .users .users-container .content .content-title2 .box {
    margin-right: 4rem;
    position: relative;
    top: 12.5rem;
  }
  .users .users-container .content .content-title2 .box:last-child {
    margin-right: 0;
    top: -2rem;
  }
}
@media (max-width: 360px) {
  .users .users-container .content .content-title2 .box {
    margin-right: 4rem;
    position: relative;
    top: 16.5rem;
  }
  .users .users-container .content .content-title2 .box:last-child {
    margin-right: 0;
    top: 4rem;
  }
}
.users .users-container .content .content-title2 .box h2 {
  font-weight: 500;
  font-size: 5rem;
  color: #fff;
}
.users .users-container .content .content-title2 .box h2 span {
  font-size: 2.3rem;
  color: #fff;
  position: relative;
  top: -2rem;
  left: -1.4rem;
}
.users .users-container .content .content-title2 .box span {
  color: #BAE1FF;
  font-weight: 600;
  margin-top: -1rem;
  font-size: 1rem;
  line-height: 140%;
}
.users .users-container .button {
  display: flex;
  justify-content: end;
  margin-right: 3.125rem;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .users .users-container .button {
    position: relative;
    top: 1rem;
  }
}
@media (max-width: 480px) {
  .users .users-container .button {
    display: flex;
    justify-content: left;
    margin-top: 17rem;
  }
}
@media (max-width: 360px) {
  .users .users-container .button {
    margin-top: 23rem;
    justify-content: center;
    margin-right: 0;
    width: 290px;
  }
}
.users .users-container .button .btn-users {
  background: #fff;
  color: #1E1E1E;
}
.users .users-container .button .btn-users img {
  margin-left: 0.8rem;
}
.users .users-container .button p {
  font-style: italic;
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #BAE1FF;
  margin-left: 3.9375rem;
  margin-top: 0.7rem;
}
@media (max-width: 480px) {
  .users .users-container .button p {
    margin-left: 0;
  }
}

.kirghizia .header-body {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  background: linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%);
}
.kirghizia .header-body:before {
  background: url("../assets/image/header-logo.png") no-repeat top right;
  background-size: cover;
  position: absolute;
  top: 2%;
  right: 0;
  bottom: 0;
}
@media (max-width: 1200px) {
  .kirghizia .header-body:before {
    top: 10%;
  }
}
@media (max-width: 768px) {
  .kirghizia .header-body:before {
    top: 40%;
  }
}
.kirghizia .header-body .header-title {
  padding-right: 2rem;
}
@media (max-width: 1024px) {
  .kirghizia .header-body .header-title {
    padding-right: 2rem;
  }
}
@media (max-width: 768px) {
  .kirghizia .header-body .header-title {
    padding-right: 0;
  }
}
.kirghizia .header-body .header-description {
  color: #FFD188;
}
.kirghizia .header-body .btn-white {
  color: #E37640;
  background: #fff;
  transition: 0.3s lianer;
}
.kirghizia .header-body .btn-white:hover {
  background: #b24c17;
  color: #fff;
}
.kirghizia .guarantee .guarantee-container .guarantee-content .content .title-top span {
  color: #E37640;
}
.kirghizia .available-cards .media {
  display: none;
}
@media (max-width: 360px) {
  .kirghizia .available-cards .media {
    display: initial;
  }
}
@media (max-width: 360px) {
  .kirghizia .available-cards .decstop {
    display: none;
  }
}
.kirghizia .available-cards .star1 {
  position: relative;
  left: 90%;
}
.kirghizia .available-cards .btn-lightblue {
  color: #E37640;
  background: rgba(255, 209, 136, 0.2);
}
.kirghizia .available-cards .fa-circle-check {
  color: #E37640;
}
.kirghizia .available-cards .check-price {
  color: #E37640;
}
.kirghizia .available-cards .btn-transparent:hover {
  color: #E37640;
  background: #fff;
}
.kirghizia .available-cards .btn-blue-dark {
  background: #E37640;
  color: white;
}
.kirghizia .available-cards .btn-blue-dark:hover {
  background: #e78558;
}
@media (max-width: 360px) {
  .kirghizia .available-cards .check-bank-subtitle {
    display: none;
  }
}
@media (max-width: 480px) {
  .kirghizia .available-cards .price-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .kirghizia .available-cards .price-btn .check-price {
    margin-right: 10px;
    font-size: 2rem;
    margin-top: 0.8rem;
  }
}
@media (max-width: 480px) {
  .kirghizia .available-cards .buttons {
    display: flex;
  }
}
@media (max-width: 360px) {
  .kirghizia .available-cards .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .kirghizia .available-cards .buttons button {
    display: block;
    margin-bottom: 10px !important;
    width: 100% !important;
    padding: 1.5rem 6rem;
  }
}
.kirghizia .map-comparison .fa-circle-check {
  color: #E37640;
}
.kirghizia .map-comparison .price {
  color: #E37640;
}
.kirghizia .map-comparison .btn-transparent:hover {
  color: #E37640;
}
.kirghizia .map-comparison .fa-circle-exclamation {
  font-size: 1.6rem;
}
.kirghizia .about-cards {
  min-height: 19rem;
}
.kirghizia .about-cards .about-container {
  background: url("../assets/image/bg-star.png"), linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%) no-repeat center;
}
.kirghizia .about-cards .about-container .content .content-title .about-title {
  color: #BAE1FF;
  font-weight: 600;
}
.kirghizia .about-cards .about-container .content .content-title .buttons .btn-about {
  color: #4497B3 !important;
}
.kirghizia .about-cards .about-container .content .content-title .buttons .btn-about:hover {
  background: #4497B3;
  color: #fff !important;
}
@media (max-width: 1024px) {
  .kirghizia .about-cards .about-container .content .content-image {
    right: 0;
  }
}
@media (max-width: 1024px) {
  .kirghizia .about-cards .about-container .content .content-image {
    right: -16%;
  }
}
.kirghizia .visa-master .btn-lightblue {
  color: #E37640;
  background: rgba(255, 209, 136, 0.2);
}
.kirghizia .steps .btn-lightblue {
  color: #E37640;
  background: rgba(255, 209, 136, 0.2);
}
.kirghizia .steps-body {
  background: url("../assets/image/khirgizia-step-bg.png"), linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%) no-repeat center;
}
.kirghizia .steps .steps-subtitle {
  color: #FFD188;
}
.kirghizia .faq .btn-lightblue {
  color: #E37640;
  background: rgba(255, 209, 136, 0.2);
}
.kirghizia .faq .fa-minus {
  color: #E37640;
}
.kirghizia .faq .fa-plus {
  color: #E37640;
}
.kirghizia .users .content-title {
  padding-top: 1.7rem;
  padding-left: 1.5rem;
}
.kirghizia .footer-bg .btn-lightblue {
  color: #E37640;
  background: rgba(255, 209, 136, 0.2);
}
.kirghizia .footer-bg .requisites-name {
  color: #FFD188;
}
.kirghizia .footer-bg .btn-blue-dark {
  background: #E37640;
}
.kirghizia .footer-bg .btn-blue-dark:hover {
  background: #f19a6d;
}
.kirghizia .footer-bg .btn-white {
  color: #E37640;
}
.kirghizia .footer-bg .btn-white:hover {
  background: #E37640;
  color: #fff;
}
.kirghizia .footer-bg .free-call-text {
  color: #FFD188;
}

.kazakhstan .btn-lightblue {
  color: #4497B3 !important;
}
.kazakhstan .header .info-block {
  cursor: pointer;
}
.kazakhstan .header .btn-white {
  transition: 0.5s linear;
}
.kazakhstan .header .btn-white:hover {
  background: #4497B3;
}
.kazakhstan .available-cards .media {
  display: none;
}
@media (max-width: 360px) {
  .kazakhstan .available-cards .media {
    display: initial;
  }
}
@media (max-width: 360px) {
  .kazakhstan .available-cards .decstop {
    display: none;
  }
}
.kazakhstan .available-cards .star1 {
  position: relative;
  left: 90%;
}
@media (max-width: 360px) {
  .kazakhstan .available-cards .check-bank-subtitle {
    display: none;
  }
}
@media (max-width: 480px) {
  .kazakhstan .available-cards .price-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .kazakhstan .available-cards .price-btn .check-price {
    margin-right: 10px;
    font-size: 2rem;
    margin-top: 0.8rem;
  }
}
@media (max-width: 480px) {
  .kazakhstan .available-cards .buttons {
    display: flex;
  }
}
@media (max-width: 360px) {
  .kazakhstan .available-cards .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .kazakhstan .available-cards .buttons button {
    display: block;
    margin-bottom: 10px !important;
    width: 100% !important;
    padding: 1.5rem 6rem;
  }
}
@media (max-width: 1024px) {
  .kazakhstan .about-cards .content-image {
    right: -5%;
  }
}
@media (max-width: 1024px) {
  .kazakhstan .about-cards .content-image {
    right: -8% !important;
  }
}
.kazakhstan .about-cards .btn-about:hover {
  background: #E37640 !important;
  color: #fff !important;
}
.kazakhstan .users .content-title {
  padding-top: 0.1rem;
  padding-left: 0.5rem;
}
.kazakhstan .footer-bg .btn-white:hover {
  background: #4497B3;
}

.bakai-card .btn-lightblue {
  color: #1E4165 !important;
}
.bakai-card .visa-master {
  margin-top: 5rem;
}
.bakai-card .visa-master .container {
  position: relative;
}
.bakai-card .visa-master .container .star1 {
  position: absolute;
  left: 90%;
  top: 15%;
}
@media (max-width: 768px) {
  .bakai-card .visa-master .container .star1 {
    display: none;
  }
}
.bakai-card .visa-master .container .star2 {
  position: absolute;
  left: 13%;
  top: 24%;
}
@media (max-width: 768px) {
  .bakai-card .visa-master .container .star2 {
    display: none;
  }
}
.bakai-card .visa-master .container .content-title {
  text-align: center;
}
.bakai-card .about-cards .about-container {
  width: 100% !important;
  min-height: 29.8125rem;
  background: url("../assets/image/bakai-card-about-bg.png"), linear-gradient(148.13deg, #325579 0%, #073768 100%) no-repeat center;
}
@media (max-width: 768px) {
  .bakai-card .about-cards .about-container .content {
    flex-direction: column;
  }
}
.bakai-card .about-cards .about-container .content .content-title .about-title {
  color: #7BA5BC;
}
.bakai-card .about-cards .about-container .content .content-title .buttons .btn-about {
  color: #1E4165 !important;
}
.bakai-card .about-cards .about-container .content .content-title .buttons .btn-about:hover {
  background: #4497B3 !important;
  color: #fff !important;
}
.bakai-card .about-cards .about-container .content .content-image {
  position: absolute;
  right: 1.6rem;
}
@media (max-width: 1200px) {
  .bakai-card .about-cards .about-container .content .content-image {
    right: 0;
  }
}
@media (max-width: 1024px) {
  .bakai-card .about-cards .about-container .content .content-image {
    right: 0;
  }
}
@media (max-width: 768px) {
  .bakai-card .about-cards .about-container .content .content-image {
    position: unset;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .bakai-card .about-cards .about-container .content .content-image {
    position: unset;
    display: flex;
    justify-content: center;
  }
}
.bakai-card .faq .fa-minus {
  color: #1E4165;
}
.bakai-card .faq .fa-plus {
  color: #1E4165;
}
.bakai-card .footer-bg .btn-blue-dark {
  background: #1E4165 !important;
  color: #fff !important;
}
.bakai-card .footer-bg .btn-blue-dark:hover {
  background: #6b9bcb !important;
}
.bakai-card .footer-bg .btn-white:hover {
  background: #4497B3 !important;
  color: #fff !important;
}

.freedom-card .header-body {
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  padding-bottom: 5.4375rem;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .freedom-card .header-body {
    overflow: unset;
  }
}
@media (max-width: 855px) {
  .freedom-card .header-body {
    height: 58rem;
  }
}
@media (max-width: 576px) {
  .freedom-card .header-body {
    height: 45rem;
  }
}
.freedom-card .header-body:before {
  display: none;
}
.freedom-card .info-block {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
}
.freedom-card .header-title {
  color: #1E1E1E;
}
.freedom-card .header-description {
  color: #A8B8C5;
}
.freedom-card .steps-body {
  background: url("../assets/image/freedom-steps-bg.png"), linear-gradient(148.13deg, #32A64D 0%, #297538 100%) no-repeat center;
}
.freedom-card .steps-body .steps-subtitle {
  color: #A0D8A7;
}

.btn-bakai-dark-blue {
  background: #1E4165;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: #FFFFFF;
  padding: 1.25rem 1.5rem;
  transition: 0.3s all !important;
}
.btn-bakai-dark-blue:hover {
  background: #7BA5BC;
  color: #fff;
}

.bakai-header-bg {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1120px) {
  .bakai-header-bg {
    right: -6.25rem;
  }
}
@media (max-width: 1100px) {
  .bakai-header-bg {
    display: none;
  }
}

.bakai-header-card {
  position: absolute;
  top: 5rem;
  right: 2rem;
}
@media (max-width: 1228px) {
  .bakai-header-card {
    width: 34.25rem;
    right: 0;
    top: unset;
    bottom: -10rem;
  }
}
@media (max-width: 576px) {
  .bakai-header-card {
    width: 100%;
  }
}

.c-bakai-blue {
  color: #298B3F !important;
}

.c-green {
  color: #298B3F;
}

.content-title {
  margin-top: 2rem;
}

.freedom-card .btn-lightblue {
  background: rgba(164, 238, 202, 0.2);
  color: #298B3F !important;
}
.freedom-card .btn-bakai-dark-blue {
  background: #298B3F;
}
.freedom-card .btn-bakai-dark-blue:hover {
  background: #49b65f;
}
.freedom-card .visa-master {
  margin-top: 5rem;
}
.freedom-card .visa-master .container {
  position: relative;
}
.freedom-card .visa-master .container .star1 {
  position: absolute;
  left: 90%;
  top: 15%;
}
@media (max-width: 768px) {
  .freedom-card .visa-master .container .star1 {
    display: none;
  }
}
.freedom-card .visa-master .container .star2 {
  position: absolute;
  left: 13%;
  top: 24%;
}
@media (max-width: 768px) {
  .freedom-card .visa-master .container .star2 {
    display: none;
  }
}
.freedom-card .visa-master .container .content-title {
  text-align: center;
}
.freedom-card .visa-master .container .visa-master-item-subtitle {
  color: #A8B8C5;
}
.freedom-card .about-cards .about-container {
  width: 100% !important;
  min-height: 29.8125rem;
  background: url("../assets/image/freedom-about-bg.png"), linear-gradient(148.13deg, #32A64D 0%, #297538 100%) no-repeat center;
}
@media (max-width: 768px) {
  .freedom-card .about-cards .about-container .content {
    flex-direction: column;
  }
}
.freedom-card .about-cards .about-container .content .content-title .about-title {
  color: #A0D8A7;
}
.freedom-card .about-cards .about-container .content .content-title .buttons .btn-about {
  color: #298B3F !important;
}
.freedom-card .about-cards .about-container .content .content-title .buttons .btn-about:hover {
  background: #29b449 !important;
  color: #fff !important;
}
.freedom-card .about-cards .about-container .content .content-image {
  position: absolute;
  right: 1.6rem;
}
@media (max-width: 1200px) {
  .freedom-card .about-cards .about-container .content .content-image {
    right: 0;
  }
}
@media (max-width: 1024px) {
  .freedom-card .about-cards .about-container .content .content-image {
    right: 0;
  }
}
@media (max-width: 768px) {
  .freedom-card .about-cards .about-container .content .content-image {
    position: unset;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .freedom-card .about-cards .about-container .content .content-image {
    position: unset;
    display: flex;
    justify-content: center;
  }
}
.freedom-card .faq .fa-minus {
  color: #298B3F;
}
.freedom-card .faq .fa-plus {
  color: #298B3F;
}
.freedom-card .footer-bg .btn-blue-dark {
  background: #298B3F !important;
  color: #fff !important;
}
.freedom-card .footer-bg .btn-blue-dark:hover {
  background: #49b65f !important;
}
.freedom-card .footer-bg .btn-white {
  background: #fff !important;
  color: #298B3F;
}
.freedom-card .footer-bg .btn-white:hover {
  background: #49b65f !important;
  color: #FFFFFF;
}

/*# sourceMappingURL=Arm.css.map */
