::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
.trans {
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #A8B8C5;
}

.c-blue {
  color: #0089EE;
}

.c-red {
  color: #FF4343;
}

.mt-80 {
  margin-top: 5rem;
}

.container {
  max-width: 1248px !important;
}

.dropdown-toggle.show::after {
  transform: rotate(-180deg);
}
.dropdown-toggle::after {
  content: "\f078";
  font-family: FontAwesome, serif;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: unset;
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  transition: 0.3s;
  transform: rotate(0deg);
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
}
@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.btn-blue {
  background: #0089EE;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
  border: none !important;
  text-align: center;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn-blue:hover {
  background: rgb(66, 149, 218);
}

.btn-lightblue {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
  border-radius: 0.25rem;
  padding: 0.3125rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  border: none !important;
  text-align: center;
  cursor: pointer;
}

.btn-transparent {
  background: transparent;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  text-align: center;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn-transparent:hover {
  background: #fff;
  color: #0089EE;
  border: 1.5px solid #fff;
}

.menu {
  width: 100%;
  z-index: 1000;
  position: relative;
}
.menu-content {
  width: 100%;
  max-width: 1372px !important;
  min-height: 6.25rem;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0;
}
@media (max-width: 1372px) {
  .menu-content {
    padding: 0 1rem;
  }
}
@media (max-width: 1024px) {
  .menu-content {
    border-bottom: 1px solid rgba(168, 184, 197, 0.2);
    justify-content: space-between;
  }
}
.menu-content .logo a {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .menu-content .logo a {
    display: none;
  }
}
.menu-content .logo .gray {
  height: 1.25rem;
  width: 1px;
  background: rgba(168, 184, 197, 0.4);
}
@media (max-width: 1024px) {
  .menu-content .logo .gray {
    display: none;
  }
}
.menu-content .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 1024px) {
  .menu-content .navbar {
    position: absolute;
    top: 90px;
    width: 100%;
    transition: all 0.2s linear;
    z-index: 10;
    background: #fff;
  }
}
@media (max-width: 767px) {
  .menu-content .navbar {
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 100%;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(5px);
  }
}
.menu-content .navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #1E1E1E;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .menu-content .navbar a {
    margin: 15px 50px;
  }
}
@media (max-width: 869px) {
  .menu-content .navbar a {
    margin: 15px 35px;
  }
}
@media (max-width: 767px) {
  .menu-content .navbar a {
    margin: 0.9375rem 0;
    display: block !important;
    font-size: 1.5rem;
    border-bottom: 1px solid #e7e3e3;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .menu-content .navbar a:last-child {
    border: 0;
  }
}
.menu-content .navbar a:hover {
  color: #0b5ed7;
}
@media (max-width: 1024px) {
  .menu-content .navbar.active {
    z-index: 10;
    transform: translateX(-50%) translateY(60px);
  }
}
@media (max-width: 1200px) {
  .menu-content .icons {
    margin-right: 1.875rem;
  }
}
@media (max-width: 1024px) {
  .menu-content .icons {
    margin-right: 1.875rem;
  }
}
.menu-content .icons i {
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-content .icons i {
    display: none;
  }
}
.menu-content .icons .fa-phone {
  color: #0089EE;
  font-size: 1.25rem;
}
.menu-content .icons .fa-whatsapp {
  color: #51C941;
  font-size: 2.5rem;
}
.menu-content .icons .fa-telegram {
  color: #65A6E7;
  font-size: 2.5rem;
}
.menu-content .icons .contact a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #1E1E1E;
}
.menu-content .icons .contact span {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #A8B8C5;
  position: relative;
  top: -0.625rem;
}
@media (max-width: 768px) {
  .menu-content .icons .contact span {
    display: none;
  }
}
.menu-content #menu-bar {
  font-size: 1.875rem;
  color: #A8B8C5;
  display: none;
  cursor: pointer;
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  .menu-content #menu-bar {
    display: initial;
  }
}
.menu-content #menu-bar .fa-xmark {
  display: none;
}
.menu-content #menu-bar.active .fa-xmark {
  display: inline-block;
}
.menu-content #menu-bar.active .fa-bars-sort {
  display: none;
}

.cards {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .cards {
    margin-top: 60px;
  }
}
.cards .cards-backgraund {
  width: calc(1372px + (100% - 1372px) / 2);
  min-height: 700px;
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  border-radius: 12px 0 0 12px;
  position: relative;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund {
    min-height: 1024px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund {
    min-height: 850px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund {
    min-height: 780px;
  }
}
.cards .cards-backgraund .cards-container {
  display: flex;
  margin-left: 5rem;
  padding-right: 2.875rem;
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container {
    margin-left: 1.875rem;
  }
}
.cards .cards-backgraund .cards-container .card-content {
  position: relative;
  margin-top: 8.75rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-content {
    left: 1rem;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-content {
    margin-top: 4rem;
    left: 0;
  }
}
.cards .cards-backgraund .cards-container .card-content .btn-lightblue {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
  margin-bottom: 2.5rem;
}
@media (max-width: 480px) {
  .cards .cards-backgraund .cards-container .card-content .btn-lightblue {
    display: none;
  }
}
.cards .cards-backgraund .cards-container .card-content .title {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.cards .cards-backgraund .cards-container .card-image {
  position: absolute;
  right: 2%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-image {
    right: 0;
    top: 40%;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image {
    left: 8%;
    top: 40%;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .cards .cards-backgraund .cards-container .card-image {
    left: -3%;
    top: 38%;
    overflow: hidden;
  }
}
.cards .cards-backgraund .cards-container .card-image .cards1024 {
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-image .cards1024 {
    width: 700px;
    height: 640px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image .cards1024 {
    display: none;
  }
}
.cards .cards-backgraund .cards-container .card-image .cards768 {
  display: none;
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image .cards768 {
    display: initial;
    bottom: -50px;
    position: relative;
  }
}
.cards .cards-backgraund .cards-container .image-blue {
  position: absolute;
  right: 0;
  bottom: 5rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .image-blue {
    right: 0;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .image-blue {
    display: none;
  }
}

.guarantee {
  margin-top: 5rem;
  padding: 0 1rem;
}
.guarantee .guarantee-container .guarantee-content {
  margin-left: 1.5rem;
}
@media (max-width: 1200px) {
  .guarantee .guarantee-container .guarantee-content {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content {
    margin-top: 9.5rem;
    position: relative;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box {
  display: flex;
  padding-right: 2rem;
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box {
    display: initial;
    padding-right: 0.5rem;
    position: relative;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box {
    display: flex;
    margin: 1.25rem 0;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .box {
  min-width: 255px;
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .image {
  position: relative;
  top: -2rem;
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .image {
    margin-left: 1.25rem;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .image {
    margin: 0;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content {
  margin-left: 1.3125rem;
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top {
    margin-left: 0;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top span {
  color: #0089EE;
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .content .title {
    display: none;
  }
}

.available-cards {
  background: url("../assets/image/bg_stars.png") no-repeat -14rem -21rem;
  background-size: contain;
  padding: 0 1rem;
}
.available-cards .available-container {
  margin-top: 6.5rem;
}
.available-cards .available-container .available-title .btn-available {
  margin-bottom: 2.5rem;
}
.available-cards .available-container .available-title .btn-heading {
  margin-bottom: 1.5rem;
}
.available-cards .available-container .available-content-row {
  margin-top: 5rem;
}
.available-cards .available-container .available-content-row .available-box-col {
  background: #F4F7FF;
  border-radius: 0.75rem;
  padding: 3.8125rem 2.6rem 2.6rem;
}
.available-cards .available-container .available-content-row .available-box-col .content-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image .card-1024 {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .image .card-480 {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image .card-480 {
    display: initial;
    margin-top: 15px !important;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title {
  margin-left: 2.5rem;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title {
    margin: 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn {
  padding: 0.3rem 0.5rem;
  margin-bottom: 1.875rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn img {
  padding-right: 0.625rem;
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading {
    position: relative;
    top: -18rem;
    text-align: center;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading img {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading img {
    display: initial;
    margin-left: 0.625rem;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-title {
  margin-bottom: 2.5rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-title {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks {
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  margin-left: 23rem;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks {
    justify-content: space-around;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks {
    display: initial;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .gray {
  height: 1.25rem;
  width: 1px;
  background: rgba(168, 184, 197, 0.4);
  margin: 0 45px;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .gray {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box {
  display: flex;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box {
    margin: 1rem 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .fa-circle-check {
  color: #0089EE;
  margin-right: 10px;
  margin-top: 5px;
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 {
    font-size: 0.9375rem !important;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 span {
  color: #A8B8C5;
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
}
@media (max-width: 360px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .buttons {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .buttons button {
    padding: 1.5rem 6rem;
    margin: 0.7rem 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
    flex-direction: column-reverse;
    position: relative;
    top: -15rem;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
    flex-direction: unset;
    top: -1rem;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price .gray {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .gray {
    display: initial;
    height: 1.25rem;
    width: 1px;
    background: rgba(168, 184, 197, 0.4);
    margin: 0 0.9375rem;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .price-btn {
    position: relative;
    left: 3.125rem;
    top: 0.625rem;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .price-btn {
    top: 0;
    left: 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price span {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #0089EE;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price span {
    margin-left: 10px;
    font-size: 2.5rem;
  }
}
.available-cards .available-container .available-box-col-end {
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%) !important;
}
.available-cards .available-container .available-box-col-end .content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .content-title {
    display: block;
  }
}
.available-cards .available-container .available-box-col-end .content-title .available-btn {
  background: rgba(244, 247, 255, 0.2);
  color: #fff;
}
.available-cards .available-container .available-box-col-end .content-title .available-heading {
  color: #fff;
}
.available-cards .available-container .available-box-col-end .content-title .available-title {
  color: #C6E5F7;
}
.available-cards .available-container .available-box-col-end .content-title .available-checks {
  display: block;
  margin: 0;
  margin-right: 3.75rem;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .content-title .available-checks {
    display: flex;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-box-col-end .content-title .available-checks {
    display: block;
  }
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box {
  margin: 0.925rem 0;
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box .fa-circle-check {
  color: rgba(244, 247, 255, 0.3);
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box h4 {
  color: #fff;
}
.available-cards .available-container .available-box-col-end .available-bottom {
  display: flex;
  justify-content: center !important;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .available-bottom {
    justify-content: space-between !important;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons {
  margin-left: 350px;
  margin-right: 150px;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .available-bottom .buttons {
    margin: 0;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-blue {
  background: #fff;
  color: #76A0B7;
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-blue:hover {
  background: #0089EE;
  color: #fff;
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-transparent {
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-transparent:hover {
  background: #fff;
  color: #76A0B7;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price {
    top: -10rem !important;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price {
    top: 0 !important;
    margin-bottom: 2rem;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .price span {
  color: #fff !important;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price span {
    margin-right: 1rem;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .price .btn-transparent {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price .btn-transparent {
    display: initial;
  }
}

.map-comparison {
  padding: 0 1rem;
}
.map-comparison-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../assets/image/map-comparison-bg.png);
  border: 1px solid rgba(168, 184, 197, 0.2);
  border-radius: 0.75rem;
  padding: 0;
}
.map-comparison-title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
  margin-top: 4.375rem;
  margin-left: 1.9375rem;
}
.map-comparison-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.map-comparison-message {
  background: linear-gradient(93.85deg, #F4F7FF 50.7%, rgba(244, 247, 255, 0) 75.59%);
  border-radius: 0.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  padding: 1.25rem;
  margin: 2.5rem;
}
.map-comparison-table {
  width: 100%;
}
.map-comparison-table-item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #A8B8C5;
}
.map-comparison-table-item .price {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #0089EE;
}
@media (max-width: 768px) {
  .map-comparison-table-item-country-name {
    display: none;
  }
}
.map-comparison-table-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 768px) {
  .map-comparison-table-item-title {
    display: block;
  }
}
.map-comparison-table .left-title {
  width: 13.75rem !important;
  text-align: left !important;
  padding-left: 2.5rem;
}
@media (max-width: 768px) {
  .map-comparison-table .left-title {
    display: none;
  }
}
.map-comparison .slick-prev, .map-comparison .slick-next {
  display: none !important;
}

.table {
  width: 100%;
}
.table .table-th {
  width: calc((100% / 12) * 3 - 0rem);
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #1E1E1E;
  text-align: center;
}
.table .table-tr {
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table .table-tr:nth-of-type(2n+2) {
  background: #F4F7FF;
}
.table .table-td {
  text-align: center;
  width: calc((100% / 12) * 3 - 0rem);
}

.dots-slider-table-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1E1E1E;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 1.875rem;
  padding-left: 0;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  background: rgba(168, 184, 197, 0.2);
}
.slick-dots li.slick-active {
  background: #0089EE;
}
.slick-dots li button {
  font-size: 0;
  display: none;
}

.visa-master {
  background: #F4F7FF;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
}
@media (max-width: 576px) {
  .visa-master {
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
  }
}
.visa-master .star1 {
  position: absolute;
  right: 20%;
  top: 10%;
}
.visa-master .star2 {
  position: absolute;
  right: 36%;
  top: 20%;
}
.visa-master-item {
  width: 100%;
  height: 100%;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 0.75rem;
  padding: 2rem;
}
.visa-master-item-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
  margin-top: 2rem;
}
.visa-master-item-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.5rem;
}

.def-title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .def-title {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .def-title {
    margin-top: 1.8rem;
  }
}

.def-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.5rem;
}

.steps {
  padding: 7.5rem 1rem 1rem;
}
@media (max-width: 576px) {
  .steps {
    padding: 4.5rem 1rem 1rem;
  }
}
.steps-card {
  position: absolute;
  right: -100px;
  bottom: -80px;
  width: auto;
}
@media (max-width: 1114px) {
  .steps-card {
    right: -200px;
  }
}
@media (max-width: 991px) {
  .steps-card {
    right: 0;
    bottom: -185px;
    width: 400px;
  }
}
@media (max-width: 576px) {
  .steps-card {
    display: none;
  }
}
.steps-body {
  background: url("../assets/image/step-bg.png"), linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%) no-repeat center;
  background-size: cover;
  border-radius: 0.75rem;
  padding: 3.75rem 3.75rem 1.25rem;
  margin-top: 5rem;
  position: relative;
}
@media (max-width: 576px) {
  .steps-body {
    padding: 2.5rem 2.5rem 0.625rem;
    margin-top: 3rem;
  }
}
@media (max-width: 320px) {
  .steps-body {
    padding: 1.5rem 1.5rem 0.625rem;
  }
}
.steps-number {
  font-weight: 500;
  font-size: 5rem;
  color: #FFFFFF;
}
.steps-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFFFFF;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .steps-title {
    margin-top: 0;
  }
}
.steps-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #C6E5F7;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .steps-subtitle {
    margin-top: 0;
  }
}

.faq {
  margin-top: 50px;
  padding-top: 6.25rem;
}
@media (max-width: 768px) and (min-width: 576px) {
  .faq {
    margin-top: 9.375rem;
  }
}
@media (max-width: 576px) {
  .faq {
    padding-top: 0;
  }
}
.faq-body {
  background: url(../assets/image/faq-bg.svg) no-repeat 65% -197px;
  background-size: 134%;
}
@media (max-width: 768px) {
  .faq-body .def-subtitle {
    margin-bottom: 2.5rem;
  }
}
.faq-body .accordion-faq {
  margin-top: 6.25rem;
}
@media (max-width: 768px) {
  .faq-body .accordion-faq {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accordion-faq {
  margin-bottom: 4.5625rem;
}
.accordion-faq .accordion-body {
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #A8B8C5;
}
.accordion-faq .accordion-item {
  border: 0;
  margin-bottom: 0.5625rem;
  background: transparent;
}
.accordion-faq .accordion-header {
  border: 0 solid #fff !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  background: transparent;
}
.accordion-faq .accordion-header .accordion-button {
  border: 0 !important;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  border-bottom: 1px solid rgba(168, 184, 197, 0.2) !important;
  height: 6.25rem;
  background: transparent;
  box-shadow: unset;
}
@media (max-width: 576px) {
  .accordion-faq .accordion-header .accordion-button {
    height: 4.25rem;
  }
}
.accordion-faq .accordion-header .accordion-button:after {
  display: none;
}
.accordion-faq .accordion-header .accordion-button[aria-expanded=true] .fa-minus {
  display: inline-block;
}
.accordion-faq .accordion-header .accordion-button[aria-expanded=true] .fa-plus {
  display: none;
}
.accordion-faq .accordion-header .accordion-button .fa-minus {
  display: none;
}

.footer-bg {
  background: linear-gradient(146.36deg, #F4F7FF 14.94%, rgba(244, 247, 255, 0) 59.69%);
  position: relative;
}
.footer-bg-stars {
  position: absolute;
  top: 11.25rem;
  right: 30%;
}

.blog {
  padding-top: 6.25rem;
  margin-top: 6.25rem;
}
.blog-item {
  width: 100%;
  background: #FFFFFF;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.blog-item:hover .blog-item-body {
  bottom: 0;
}
.blog-item-img {
  width: 100%;
  height: 16.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: -5.3125rem;
}
.blog-item-body {
  padding: 1.5rem;
  background: #fff;
  transition: 0.3s;
  position: relative;
  bottom: -5.3125rem;
}
.blog-item-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
}
.blog-item-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.requisites {
  padding-bottom: 5rem;
  position: relative;
}
@media (max-width: 768px) {
  .requisites {
    padding-bottom: 10rem;
  }
}
.requisites-tg {
  width: 25.1875rem;
  position: absolute;
  right: 3.5rem;
  bottom: 0;
  transform: translateY(50%);
  background: #FFFFFF;
  box-shadow: 0 1.875rem 5rem -1.875rem rgba(2, 49, 86, 0.1);
  border-radius: 0.75rem;
  padding: 1.25rem;
}
@media (max-width: 768px) {
  .requisites-tg {
    width: calc(100% - 1.25rem);
    right: 0.625rem;
  }
}
.requisites-tg .fa-telegram {
  font-size: 50px;
  color: #0089EE;
}
.requisites-tg-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #1E1E1E;
  margin-bottom: 0;
}
.requisites-tg-nickname {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-bottom: 0;
}
.requisites-tg-text {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.requisites-title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 5rem;
}
.requisites-name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #C6E5F7;
  margin-bottom: 1.25rem;
}
.requisites-info {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 0;
}

.btn-white {
  padding: 1.25rem 1.5rem;
  width: 14.1875rem;
  background: #FFFFFF;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #76A0B7;
  transition: 0.3s linear;
}
.btn-white:hover {
  background: #0089EE;
  color: #fff;
}

.free-call-number {
  font-weight: 500;
  font-size: 1.25rem;
  color: #FFFFFF;
}

.free-call-text {
  font-weight: 600;
  font-size: 0.75rem;
  color: #C6E5F6;
}

.icon-call-white {
  font-size: 20px;
  color: #fff;
  margin-right: 0.5rem;
}

footer {
  margin-top: 5rem;
}
@media (max-width: 768px) {
  footer {
    margin-top: 8.5rem;
  }
}

.c-yellow {
  color: #E37640 !important;
}

.kazakhstan .btn-white {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #4497B3;
}
.kazakhstan .btn-white:hover {
  color: #fff;
}
.kazakhstan .about-container {
  background: url("../assets/image/kazakhstan-about-container.png") no-repeat top right, linear-gradient(97.51deg, #F5A357 0%, #DB392F 100%) !important;
  background-size: cover !important;
}
.kazakhstan .about-img-kazakhstan {
  width: 100%;
}
@media (max-width: 683px) {
  .kazakhstan .about-cards .about-container .content {
    flex-direction: column;
  }
}
.kazakhstan .about-cards .about-container .content .content-image {
  width: 34rem;
}
@media (max-width: 683px) {
  .kazakhstan .about-cards .about-container .content .content-image {
    position: relative;
    right: 0;
    width: 100%;
  }
}
@media (max-width: 683px) {
  .kazakhstan .about-cards .about-container .content .content-title .about-heading, .kazakhstan .about-cards .about-container .content .content-title .about-title {
    padding-right: 0;
  }
}
.kazakhstan .steps-body {
  background: url(../assets/image/step-bg.png), linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) and (min-width: 768px) {
  .header {
    margin-top: 90px;
  }
}
.header .container {
  max-width: 1372px !important;
}
.header-body {
  background: linear-gradient(264.89deg, #7BD5EB 0%, #57A4D0 100%);
  border-radius: 0.75rem;
  position: relative;
  padding-left: 5rem;
  padding-top: 8.25rem;
  padding-bottom: 8.25rem;
  overflow: hidden;
}
.header-body:before {
  content: "";
  width: 42.0625rem;
  height: 43.0625rem;
  background: url("../assets/image/kazakhstan-header-bg.png") no-repeat top right;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 576px) {
  .header-body:before {
    opacity: 0.5;
  }
}
@media (max-width: 855px) {
  .header-body {
    height: 70rem;
  }
}
@media (max-width: 576px) {
  .header-body {
    padding-top: 4rem;
    padding-left: 2rem;
  }
}
.header-title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #FFFFFF;
  margin-top: 2.5rem;
}
@media (max-width: 576px) {
  .header-title {
    margin-top: 1.5rem;
  }
}
@media (min-width: 992px) {
  .header-title {
    width: 52%;
  }
}
.header-description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #BAE1FF;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .header-description {
    width: 41%;
  }
}
@media (max-width: 576px) {
  .header-description {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}
.header .kazakhstan-header-card-freedom {
  position: absolute;
  right: -3.75rem;
  top: 4.0625rem;
  width: 42.5rem;
}
@media (max-width: 1325px) {
  .header .kazakhstan-header-card-freedom {
    width: 32.5rem;
    top: 17.0625rem;
  }
}
@media (max-width: 1075px) {
  .header .kazakhstan-header-card-freedom {
    width: 32.5rem;
    top: 20.0625rem;
  }
}
@media (max-width: 855px) {
  .header .kazakhstan-header-card-freedom {
    top: 41.0625rem;
  }
}
@media (max-width: 425px) {
  .header .kazakhstan-header-card-freedom {
    top: 41.0625rem;
    right: -13rem;
  }
}
.header .kazakhstan-header-card-freedom-back {
  position: absolute;
  right: 15rem;
  bottom: -3rem;
  width: 35.5rem;
}
@media (max-width: 1325px) {
  .header .kazakhstan-header-card-freedom-back {
    width: 25.5rem;
    bottom: -4rem;
  }
}
@media (max-width: 425px) {
  .header .kazakhstan-header-card-freedom-back {
    right: 1rem;
  }
}

.info-block {
  background: rgba(186, 225, 255, 0.2);
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  padding: 0.5rem;
}

.check-bank {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background: #F4F7FF;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
@media (max-width: 576px) {
  .check-bank img {
    width: 100%;
  }
}
.check-bank-title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
  margin-top: 40px;
}
.check-bank-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}
.check-bank .checks-list {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 2rem;
}
.check-bank .checks-list i {
  color: #4497B3;
  margin-right: 0.75rem;
  margin-top: 0.375rem;
}
.check-bank .checks-list .checks-list-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #1E1E1E;
}
.check-bank .checks-list .checks-list-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
}
.check-bank .check-price {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #4497B3;
}

.btn-blue-dark {
  background: #4497B3;
  border-radius: 0.25rem;
  padding: 1rem 1.25rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
  transition: 0.3s;
}
.btn-blue-dark:hover {
  color: #FFFFFF;
  background: #4eaccc;
}

.bakai-card .header-body {
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  padding-bottom: 5.4375rem;
  overflow: hidden;
}
.bakai-card .header-body:before {
  display: none;
}
.bakai-card .info-block {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
}
.bakai-card .header-title {
  color: #1E1E1E;
}
.bakai-card .header-description {
  color: #A8B8C5;
}
.bakai-card .steps-body {
  background: url("../assets/image/step-bg-bakai.png"), linear-gradient(148.13deg, #325579 0%, #073768 100%) no-repeat center;
}

.btn-bakai-dark-blue {
  background: #1E4165;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: #FFFFFF;
  padding: 1.25rem 1.5rem;
  transition: 0.3s all !important;
}
.btn-bakai-dark-blue:hover {
  background: #7BA5BC;
  color: #fff;
}

.bakai-header-bg {
  position: absolute;
  right: 0;
  top: 0;
}

.bakai-header-card {
  position: absolute;
  top: 5rem;
  right: 2rem;
}

.c-bakai-blue {
  color: #1E4165 !important;
}

.c-green {
  color: #298B3F;
}

/*# sourceMappingURL=style.css.map */
