::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a2929;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
.trans {
  transition: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #A8B8C5;
}

.c-blue {
  color: #0089EE;
}

.c-red {
  color: #FF4343;
}

.container {
  max-width: 1248px !important;
}

.dropdown-toggle.show::after {
  transform: rotate(-180deg);
}
.dropdown-toggle::after {
  content: "\f078";
  font-family: FontAwesome, serif;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: unset;
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
  transition: 0.3s;
  transform: rotate(0deg);
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
}
@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #A8B8C5;
}

.btn-blue {
  background: #0089EE;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #fff;
  border: none !important;
  text-align: center;
  cursor: pointer;
}

.btn-lightblue {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
  border-radius: 0.25rem;
  padding: 0.3125rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  border: none !important;
  text-align: center;
  cursor: pointer;
}

.btn-transparent {
  background: transparent;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  border: 1.5px solid rgba(168, 184, 197, 0.2);
  text-align: center;
  cursor: pointer;
}

.menu {
  width: 100%;
  z-index: 1000;
  position: relative;
}
.menu-content {
  width: 100%;
  min-height: 6.25rem;
  display: flex;
  align-items: center;
  background: #fff;
}
@media (max-width: 1024px) {
  .menu-content {
    border-bottom: 1px solid rgba(168, 184, 197, 0.2);
    justify-content: space-between;
  }
}
.menu-content .logo a {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .menu-content .logo a {
    display: none;
  }
}
.menu-content .logo .gray {
  height: 1.25rem;
  width: 1px;
  background: rgba(168, 184, 197, 0.4);
}
@media (max-width: 1024px) {
  .menu-content .logo .gray {
    display: none;
  }
}
@media (max-width: 1024px) {
  .menu-content .navbar {
    position: absolute;
    top: 90px;
    width: 100%;
    transition: all 0.2s linear;
    z-index: 10;
    background: #fff;
  }
}
@media (max-width: 768px) {
  .menu-content .navbar {
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 100%;
    background: rgba(255, 255, 255, 0.2392156863);
    backdrop-filter: blur(5px);
  }
}
.menu-content .navbar a {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #1E1E1E;
}
@media (max-width: 1024px) {
  .menu-content .navbar a {
    margin: 15px 50px;
  }
}
@media (max-width: 869px) {
  .menu-content .navbar a {
    margin: 15px 35px;
  }
}
@media (max-width: 768px) {
  .menu-content .navbar a {
    margin: 0.9375rem 0;
    display: block !important;
    font-size: 1.5rem;
    border-bottom: 1px solid #e7e3e3;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .menu-content .navbar a:last-child {
    border: 0;
  }
}
@media (max-width: 1024px) {
  .menu-content .navbar.active {
    z-index: 10;
    transform: translateX(-50%) translateY(60px);
  }
}
@media (max-width: 1200px) {
  .menu-content .icons {
    margin-right: 1.875rem;
  }
}
@media (max-width: 1024px) {
  .menu-content .icons {
    margin-right: 1.875rem;
  }
}
.menu-content .icons i {
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-content .icons i {
    display: none;
  }
}
.menu-content .icons .fa-phone {
  color: #0089EE;
  font-size: 1.25rem;
}
.menu-content .icons .fa-whatsapp {
  color: #51C941;
  font-size: 2.5rem;
}
.menu-content .icons .fa-telegram {
  color: #65A6E7;
  font-size: 2.5rem;
}
.menu-content .icons .contact a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  color: #1E1E1E;
}
.menu-content .icons .contact span {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #A8B8C5;
  position: relative;
  top: -0.625rem;
}
@media (max-width: 768px) {
  .menu-content .icons .contact span {
    display: none;
  }
}
.menu-content #menu-bar {
  font-size: 1.875rem;
  color: #A8B8C5;
  margin-right: 2.1875rem;
  display: none;
  cursor: pointer;
  transform: rotateY(180deg);
}
@media (max-width: 768px) {
  .menu-content #menu-bar {
    display: initial;
  }
}

.cards {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .cards {
    margin-top: 60px;
  }
}
.cards .cards-backgraund {
  width: calc(1248px + (100% - 1248px) / 2);
  min-height: 700px;
  background: linear-gradient(100.25deg, #F4F7FF 0%, #EBEFF9 100%);
  border-radius: 12px 0 0 12px;
  position: relative;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund {
    min-height: 1024px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund {
    min-height: 850px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund {
    min-height: 780px;
  }
}
.cards .cards-backgraund .cards-container {
  display: flex;
}
.cards .cards-backgraund .cards-container .card-content {
  position: relative;
  margin-top: 8.75rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-content {
    left: 1rem;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-content {
    margin-top: 4rem;
    left: 0;
  }
}
.cards .cards-backgraund .cards-container .card-content .btn-lightblue {
  background: rgba(0, 137, 238, 0.1);
  color: #0089EE;
  margin-bottom: 2.5rem;
}
@media (max-width: 480px) {
  .cards .cards-backgraund .cards-container .card-content .btn-lightblue {
    display: none;
  }
}
.cards .cards-backgraund .cards-container .card-content .title {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}
.cards .cards-backgraund .cards-container .card-image {
  position: absolute;
  right: 2%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-image {
    right: 0;
    top: 40%;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image {
    left: 10%;
    top: 46%;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .cards .cards-backgraund .cards-container .card-image {
    left: -3%;
    top: 38%;
    overflow: hidden;
  }
}
.cards .cards-backgraund .cards-container .card-image .cards1024 {
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .card-image .cards1024 {
    width: 700px;
    height: 640px;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image .cards1024 {
    display: none;
  }
}
.cards .cards-backgraund .cards-container .card-image .cards768 {
  display: none;
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .card-image .cards768 {
    display: initial;
  }
}
.cards .cards-backgraund .cards-container .image-blue {
  position: absolute;
  right: 0;
  bottom: 5rem;
}
@media (max-width: 1024px) {
  .cards .cards-backgraund .cards-container .image-blue {
    right: 0;
  }
}
@media (max-width: 768px) {
  .cards .cards-backgraund .cards-container .image-blue {
    display: none;
  }
}

.guarantee {
  margin-top: 5rem;
  padding: 0 1rem;
}
.guarantee .guarantee-container .guarantee-content {
  margin-left: 6.25rem;
}
@media (max-width: 1200px) {
  .guarantee .guarantee-container .guarantee-content {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content {
    margin-top: 7.5rem;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box {
  display: flex;
  padding-right: 0.9375rem;
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box {
    display: initial;
    padding-right: 0.5rem;
    position: relative;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box {
    display: flex;
    margin: 1.25rem 0;
  }
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .image {
    margin-left: 1.25rem;
  }
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .image {
    margin: 0;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content {
  margin-left: 1.3125rem;
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #1E1E1E;
}
@media (max-width: 1024px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top {
    margin-left: 0;
  }
}
.guarantee .guarantee-container .guarantee-content .guarantee-box .content .title-top span {
  color: #0089EE;
}
@media (max-width: 768px) {
  .guarantee .guarantee-container .guarantee-content .guarantee-box .content .title {
    display: none;
  }
}

.available-cards {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 1rem;
}
.available-cards .available-container {
  margin-top: 8.125rem;
}
.available-cards .available-container .available-title .btn-available {
  margin-bottom: 2.5rem;
}
.available-cards .available-container .available-title .btn-heading {
  margin-bottom: 1.5rem;
}
.available-cards .available-container .available-content-row {
  margin-top: 5rem;
}
.available-cards .available-container .available-content-row .available-box-col {
  background: #F4F7FF;
  border-radius: 0.75rem;
  padding: 2.6rem;
}
.available-cards .available-container .available-content-row .available-box-col .content-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image .card-1024 {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .image .card-480 {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .image .card-480 {
    display: initial;
    margin-top: 15px !important;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title {
  margin-left: 2.5rem;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title {
    margin: 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn {
  margin-bottom: 1.875rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-btn img {
  padding-right: 0.625rem;
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading {
    position: relative;
    top: -18rem;
    text-align: center;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading img {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-heading img {
    display: initial;
    margin-left: 0.625rem;
  }
}
.available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-title {
  margin-bottom: 2.5rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .content-top .content-title .available-title {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks {
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  margin-left: 23rem;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks {
    justify-content: space-around;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks {
    display: initial;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .gray {
  height: 1.25rem;
  width: 1px;
  background: rgba(168, 184, 197, 0.4);
  margin: 0 45px;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .gray {
    display: none;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box {
  display: flex;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box {
    margin: 1rem 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .fa-circle-check {
  color: #0089EE;
  margin-right: 10px;
  margin-top: 5px;
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 {
    font-size: 0.9375rem !important;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-checks .available-checks-box .checks-title h4 span {
  color: #A8B8C5;
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom {
    justify-content: center;
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
}
@media (max-width: 360px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .buttons {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 360px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .buttons button {
    padding: 1.5rem 6rem;
    margin: 0.7rem 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
    flex-direction: column-reverse;
    position: relative;
    top: -15rem;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price {
    flex-direction: unset;
    top: -1rem;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price .gray {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .gray {
    display: initial;
    height: 1.25rem;
    width: 1px;
    background: rgba(168, 184, 197, 0.4);
    margin: 0 0.9375rem;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .price-btn {
    position: relative;
    left: 3.125rem;
    top: 0.625rem;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price .price-btn {
    top: 0;
    left: 0;
  }
}
.available-cards .available-container .available-content-row .available-box-col .available-bottom .price span {
  font-style: normal;
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #0089EE;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-content-row .available-box-col .available-bottom .price span {
    margin-left: 10px;
  }
}
.available-cards .available-container .available-box-col-end {
  background: linear-gradient(94deg, #8FB9D0 0%, #719BB2 100%) !important;
}
.available-cards .available-container .available-box-col-end .content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .content-title {
    display: block;
  }
}
.available-cards .available-container .available-box-col-end .content-title .available-btn {
  background: rgba(244, 247, 255, 0.2);
  color: #fff;
}
.available-cards .available-container .available-box-col-end .content-title .available-heading {
  color: #fff;
}
.available-cards .available-container .available-box-col-end .content-title .available-title {
  color: #C6E5F7;
}
.available-cards .available-container .available-box-col-end .content-title .available-checks {
  display: block;
  margin: 0;
  margin-right: 3.75rem;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .content-title .available-checks {
    display: flex;
  }
}
@media (max-width: 768px) {
  .available-cards .available-container .available-box-col-end .content-title .available-checks {
    display: block;
  }
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box {
  margin: 0.925rem 0;
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box .fa-circle-check {
  color: rgba(244, 247, 255, 0.3);
}
.available-cards .available-container .available-box-col-end .content-title .available-checks .available-checks-box h4 {
  color: #fff;
}
.available-cards .available-container .available-box-col-end .available-bottom {
  display: flex;
  justify-content: center !important;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .available-bottom {
    justify-content: space-between !important;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons {
  margin-left: 350px;
  margin-right: 150px;
}
@media (max-width: 1024px) {
  .available-cards .available-container .available-box-col-end .available-bottom .buttons {
    margin: 0;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-blue {
  background: #fff;
  color: #76A0B7;
}
.available-cards .available-container .available-box-col-end .available-bottom .buttons .btn-transparent {
  color: #fff;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price {
    top: -10rem !important;
  }
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price {
    top: 0 !important;
    margin-bottom: 2rem;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .price span {
  color: #fff !important;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price span {
    margin-right: 1rem;
  }
}
.available-cards .available-container .available-box-col-end .available-bottom .price .btn-transparent {
  display: none;
}
@media (max-width: 480px) {
  .available-cards .available-container .available-box-col-end .available-bottom .price .btn-transparent {
    display: initial;
  }
}

.map-comparison-content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../assets/image/map-comparison-bg.png);
  border: 1px solid rgba(168, 184, 197, 0.2);
  border-radius: 0.75rem;
  padding: 0;
}
.map-comparison-title {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 110%;
  color: #1E1E1E;
  margin-top: 4.375rem;
  margin-left: 1.9375rem;
}
.map-comparison-subtitle {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.map-comparison-message {
  background: linear-gradient(93.85deg, #F4F7FF 50.7%, rgba(244, 247, 255, 0) 75.59%);
  border-radius: 0.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #A8B8C5;
  padding: 1.25rem;
  margin: 2.5rem;
}
.map-comparison-table {
  width: 100%;
}
.map-comparison-table-item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%;
  color: #A8B8C5;
}
.map-comparison-table-item .price {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 120%;
  color: #0089EE;
}
@media (max-width: 768px) {
  .map-comparison-table-item-country-name {
    display: none;
  }
}
.map-comparison-table-item-title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  color: #1E1E1E;
  margin-bottom: 0;
  display: none;
}
@media (max-width: 768px) {
  .map-comparison-table-item-title {
    display: block;
  }
}
.map-comparison-table .left-title {
  width: 13.75rem !important;
  text-align: left !important;
  padding-left: 2.5rem;
}
@media (max-width: 768px) {
  .map-comparison-table .left-title {
    display: none;
  }
}
.map-comparison .slick-prev, .map-comparison .slick-next {
  display: none !important;
}

.table {
  width: 100%;
}
.table .table-th {
  width: calc((100% / 12) * 3 - 0rem);
  font-weight: 600;
  font-size: 1rem;
  line-height: 140%;
  color: #1E1E1E;
  text-align: center;
}
.table .table-tr {
  min-height: 5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table .table-tr:nth-of-type(2n+2) {
  background: #F4F7FF;
}
.table .table-td {
  text-align: center;
  width: calc((100% / 12) * 3 - 0rem);
}

.dots-slider-table-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1E1E1E;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  background: rgba(168, 184, 197, 0.2);
}
.slick-dots li.slick-active {
  background: #0089EE;
}
.slick-dots li button {
  font-size: 0;
  display: none;
}

/*# sourceMappingURL=style.css.map */
